absl-py==2.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
alembic==1.14.1
altair==5.4.1
anlearn==0.1.4
annotated-types==0.7.0
ansi2html==1.8.0
anyio==3.7.1
aplus==0.11.0
appdirs==1.4.4
arrow==1.2.3
asgiref==3.8.1
asn1crypto==1.5.1
astropy==5.3.4
astunparse==1.6.3
atpublic==5.0
attrs==24.3.0
auth0-python==4.7.2
Authlib==1.3.1
backoff==2.2.1
balance
bcrypt==4.2.1
beautifulsoup4==4.12.3
blake3==0.3.3
blinker==1.9.0
bokeh==2.4.3
boto3==1.35.81
botocore==1.35.81
bqplot==0.12.40
branca==0.6.0
brotlipy==0.7.0
build==1.2.2.post1
chardet==5.2.0
chroma-hnswlib==0.7.6
chromadb==0.5.23
click==8.1.8
cloudpickle==2.2.1
cohere==5.13.11
colorcet==3.0.1
coloredlogs==15.0.1
contourpy==1.1.0
crewai==0.98.0
crewai-tools==0.32.1
cryptography==43.0.3
Cython==0.29.36
dash==2.14.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2023.9.3
dataclasses-json==0.6.7
dataprep
datasets==2.21.0
delayed==0.11.0b1
Deprecated==1.2.15
deprecation==2.1.0
dill==0.3.8
distlib==0.3.8
distro==1.9.0
dlib==19.24.4
docker==7.1.0
docstring_parser==0.16
docx2txt==0.8
dswe==0.1.3
durationpy==0.9
embedchain==0.1.126
emoji==2.5.1
et-xmlfile==1.1.0
exceptiongroup==1.1.3
faiss-cpu==1.8.0.post1
ffmpy==0.5.0
flatbuffers==24.3.25
folium==0.14.0
fonttools==4.25.0
fpdf==1.7.2
fqdn==1.5.1
fsspec==2023.6.0
future==0.18.3
gitdb==4.0.11
GitPython==3.1.43
gptcache==0.1.44
greenlet==3.0.3
groq==0.10.0
grpcio-tools==1.69.0
h11==0.14.0
h2==4.1.0
h5py==3.10.0
hdbscan==0.8.33
hf_transfer==0.1.8
hiredis==2.2.3
holoviews==1.14.9
hpack==4.0.0
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.0
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.27.0
humanfriendly==10.0
hvplot==0.7.3
importlib-metadata==6.8.0
importlib_resources==6.4.5
instructor==1.7.2
ipfn==1.4.4
ipydatawidgets==4.3.5
ipyleaflet==0.17.4
ipympl==0.9.3
ipyvolume==0.6.3
ipyvue==1.10.1
ipyvuetify==1.8.10
ipywebrtc==0.6.0
isoduration==20.11.0
iterative-telemetry==0.0.8
itsdangerous==2.1.2
Jinja2==3.1.5
jiter==0.8.2
jmespath==1.0.1
json_repair==0.35.0
jsonpatch==1.33
jsonpath-ng==1.6.0
jsonpickle==4.0.1
jsonpointer==2.1
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
lancedb==0.18.0
langchain==0.3.15
langchain-cohere==0.3.5
langchain-community==0.3.15
langchain-core==0.3.31
langchain-experimental==0.3.4
langchain-google-genai==1.0.10
langchain-groq==0.1.9
langchain-huggingface==0.1.2
langchain-openai==0.2.14
langchain-text-splitters==0.3.5
langsmith==0.1.147
lap==0.4.0
linkup-sdk==0.2.2
litellm==1.57.4
llvmlite==0.41.0
locket==1.0.0
Mako==1.3.8
Markdown==3.4.3
markdown-it-py
mdurl
mem0ai==0.1.47
Metaphone==0.6
mkl-fft
mkl-service
ml_dtypes==0.5.0
mmh3==5.0.1
monotonic==1.6
multiprocess==0.70.16
munkres==1.1.4
mypy-extensions==1.0.0
namex==0.0.8
narwhals==1.6.3
nixtlats==0.1.17
nltk==3.8.1
nodeenv==1.9.1
numba==0.58.0
onnx==1.16.0
onnxruntime==1.16.3
openai==1.59.9
opencv-python==4.9.0.80
openpyxl==3.1.5
opentelemetry-api==1.29.0
opentelemetry-exporter-otlp-proto-common==1.29.0
opentelemetry-exporter-otlp-proto-grpc==1.29.0
opentelemetry-exporter-otlp-proto-http==1.29.0
opentelemetry-instrumentation==0.50b0
opentelemetry-instrumentation-asgi==0.50b0
opentelemetry-instrumentation-fastapi==0.50b0
opentelemetry-proto==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-semantic-conventions==0.50b0
opentelemetry-util-http==0.50b0
optree==0.13.1
orjson==3.10.7
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.1
pandas==2.2.3
pandas-dq==1.28
panel==0.14.4
param==1.13.0
partd==1.4.1
patronus==0.0.17
pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber==0.11.5
Pillow==9.5.0
pipenv==2024.0.1
platformdirs==4.1.0
plotly==5.17.0
plotly-resampler==0.9.1
ply==3.11
portalocker==2.10.1
posthog==3.9.0
progressbar2==4.2.0
propcache==0.2.1
proto-plus==1.24.0
protobuf==5.29.3
py-cpuinfo==9.0.0
py-openaq==1.1.0
pyamg==5.0.0
pyarrow==17.0.0
pydantic==2.10.4
pydantic-settings==2.7.1
pydantic_core==2.27.2
pydeck==0.9.1
pydot==1.4.2
pydub==0.25.1
pyerfa==2.0.0.3
PyJWT==2.10.1
pylance==0.22.0
pyOpenSSL==24.3.0
pypc==0.1.50
pypdf==5.1.0
PyPDF2==3.0.1
pypdfium2==4.30.1
PyPika==0.48.9
pyproject_hooks==1.2.0
pyright==1.1.392.post0
pysbd==0.3.4
python-crfsuite==0.9.8
python-multipart==0.0.20
python-pptx==1.0.2
python-stdnum==1.19
python-utils==3.8.1
pythreejs==2.4.2
pytube==15.0.0
pytz==2024.2
pyvis==0.3.2
pyviz-comms==2.3.2
QtPy==2.3.1
rapidfuzz==2.15.2
redis==4.6.0
referencing==0.36.1
regex==2024.11.6
reportlab==4.2.5
requests==2.32.3
requests-oauthlib==2.0.0
rich
rpds-py==0.22.3
ruff==0.8.4
s3transfer==0.10.4
safehttpx==0.1.6
safetensors==0.5.2
schema==0.7.7
scipy==1.12.0
scrapegraph_py==1.10.1
seaborn==0.11.1
selenium==4.28.0
semantic-version==2.10.0
serpapi==0.1.5
session-info==1.0.0
shapely==2.0.6
shellingham==1.5.4
smmap==5.0.1
sniffio==1.3.1
snowflake==1.0.2
snowflake-connector-python==3.12.4
snowflake._legacy==1.0.0
snowflake.core==1.0.2
sortedcontainers==2.4.0
spider-client==0.1.26
SQLAlchemy==2.0.34                                                                                                 
starlette==0.41.3
stdlib-list==0.9.0
streamlit==1.14
sweetviz==2.1.4
tabulate==0.9.0
tenacity==9.0.0
textblob==0.17.1
thop
tokenizers==0.20.3
toml==0.10.2
tomli==2.2.1
tomli_w==1.2.0
tomlkit==0.13.2
torch==2.2.2
torchvision==0.17.2
tqdm==4.66.5
trace-updater==0.0.9.1
traittypes==0.2.1
transformers==4.48.0
trio==0.28.0
trio-websocket==0.11.1
tsdownsample==0.1.2
typer==0.15.1
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing_extensions
tzdata==2023.3
ultralytics==8.1.47
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.3.0
utilsforecast==0.0.12
uv==0.5.22
uvicorn==0.23.2
uvloop==0.17.0
vaex==4.17.0
vaex-astro==0.9.3
vaex-core==4.17.1
vaex-hdf5==0.14.1
vaex-jupyter==0.8.2
vaex-ml==0.18.3
vaex-server==0.9.0
vaex-viz==0.5.4
validators==0.34.0
varname==0.8.3
virtualenv==20.25.0
watchdog==4.0.0
watchfiles==0.20.0
weaviate-client==4.10.4
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.0.0
windrose==1.9.0
wordcloud==1.9.2
wrapt==1.17.2
wsproto==1.2.0
xarray==2023.9.0
xgboost==1.7.6
xlrd==2.0.1
XlsxWriter==3.2.0
xxhash==3.5.0
xyzservices==2023.10.0
yarl==1.18.3
zipp==3.17.0
