absl-py
aiohappyeyeballs
aiohttp
alembic
altair
anlearn
annotated-types
ansi2html
anyio
aplus
appdirs
arrow
asgiref
asn1crypto
astropy
astunparse
atpublic
attrs
auth0-python
Authlib
backoff
balance
bcrypt
beautifulsoup4
blake3
blinker
bokeh
boto3
botocore
bqplot
branca
brotlipy
build
chardet
chroma-hnswlib
chromadb
click
cloudpickle
cohere
colorcet
coloredlogs
contourpy
# crewai==0.98.0
# crewai-tools==0.32.1
cryptography
Cython
dash
dash-core-components
dash-html-components
dash-table
dask
dataclasses-json
dataprep
datasets
delayed
Deprecated
deprecation
dill
distlib
distro
dlib
docker
docstring_parser
docx2txt
dswe
durationpy
embedchain
emoji
et-xmlfile
exceptiongroup
faiss-cpu
ffmpy
flatbuffers
folium
fonttools
fpdf
fqdn
fsspec
future
gitdb
GitPython
gptcache
greenlet
groq
#grpcio-tools==1.69.0
h11
h2
h5py
hdbscan
hf_transfer
hiredis
holoviews
hpack
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
hvplot
importlib-metadata
importlib_resources
instructor
ipfn
ipydatawidgets
ipyleaflet
ipympl
ipyvolume
ipyvue
ipyvuetify
ipywebrtc
isoduration
iterative-telemetry
itsdangerous
Jinja2
jiter
jmespath
json_repair
jsonpatch
jsonpath-ng
jsonpickle
jsonpointer
jsonref
jsonschema
jsonschema-specifications
lancedb
langchain
langchain-cohere
langchain-community
langchain-core
langchain-experimental
langchain-google-genai
langchain-groq
langchain-huggingface
langchain-openai
langchain-text-splitters
langsmith
lap
linkup-sdk
litellm
llvmlite
locket
Mako
Markdown
markdown-it-py
mdurl
mem0ai
Metaphone
mkl-fft
mkl-service
ml_dtypes
mmh3
monotonic
multiprocess
munkres
mypy-extensions
namex
narwhals
nixtlats
nltk
nodeenv
numba
#onnx==1.16.0
#onnxruntime==1.16.3
openai
opencv-python
openpyxl
#opentelemetry-api==1.29.0
#opentelemetry-exporter-otlp-proto-common==1.29.0
#opentelemetry-exporter-otlp-proto-grpc==1.29.0
#opentelemetry-exporter-otlp-proto-http==1.29.0
#opentelemetry-instrumentation==0.50b0
#opentelemetry-instrumentation-asgi==0.50b0
#opentelemetry-instrumentation-fastapi==0.50b0
#opentelemetry-proto==1.29.0
#opentelemetry-sdk==1.29.0
#opentelemetry-semantic-conventions==0.50b0
#opentelemetry-util-http==0.50b0
optree
orjson
outcome
overrides
packaging
pandas
pandas-dq
panel
param
partd
patronus
pdf2image
pdfminer.six
pdfplumber
Pillow
pipenv
platformdirs
plotly
plotly-resampler
ply
portalocker
posthog
progressbar2
propcache
proto-plus
protobuf
py-cpuinfo
py-openaq
pyamg
pyarrow
pydantic
pydantic-settings
pydantic_core
pydeck
pydot
pydub
pyerfa
PyJWT
pylance
pyOpenSSL
pypc
pypdf
PyPDF2
pypdfium2
PyPika
pyproject_hooks
pyright
pysbd
python-crfsuite
python-multipart
python-pptx
python-stdnum
python-utils
pythreejs
pytube
pytz
pyvis
pyviz-comms
QtPy
rapidfuzz
redis
referencing
regex
reportlab
requests
requests-oauthlib
rich
rpds-py
ruff
s3transfer
safehttpx
safetensors
schema
scipy
scrapegraph_py
seaborn
selenium
semantic-version
serpapi
session-info
shapely
shellingham
smmap
sniffio
snowflake
snowflake-connector-python
snowflake._legacy
snowflake.core
sortedcontainers
spider-client
SQLAlchemy                                                                                                
starlette
stdlib-list
streamlit==1.14
sweetviz
tabulate
tenacity
textblob
thop
tokenizers
toml
tomli
tomli_w
tomlkit
torch
torchvision
tqdm
trace-updater
traittypes
transformers
trio
trio-websocket
tsdownsample
typer
types-requests
typing-inspect
typing_extensions
tzdata
ultralytics
uri-template
uritemplate
urllib3
utilsforecast
uv
uvicorn
uvloop
vaex
vaex-astro
vaex-core
vaex-hdf5
vaex-jupyter
vaex-ml
vaex-server
vaex-viz
validators
varname
virtualenv
watchdog
watchfiles
weaviate-client
webcolors
webencodings
websocket-client
websockets
Werkzeug
windrose
wordcloud
wrapt
wsproto
xarray
xgboost
xlrd
XlsxWriter
xxhash
xyzservices
yarl
zipp
